.grid {
  display: flex;
  gap: 24px;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;

  padding-bottom: 12px;
}

/* custom scrollbar */
.grid::-webkit-scrollbar {
  height: 6px;
}

.grid::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
}

.grid::-webkit-scrollbar-track {
  background: transparent;
}

/* mỗi card */
.grid > * {
  flex: 0 0 360px;

  scroll-snap-align: start;
}

/* mobile */
@media (max-width: 600px) {
  .grid > * {
    flex: 0 0 90%;
  }
}