.grid {
  display: flex;
  gap: 24px;

  overflow-x: auto;
  overflow-y: hidden;

  /* scroll-snap-type: x mandatory; */

  padding-bottom: 12px;

   scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* custom scrollbar */
.grid::-webkit-scrollbar {
  height: 6px;
}

.grid::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
}

.grid::-webkit-scrollbar-track {
  background: transparent;
}

/* mỗi card */
.grid > * {
  flex: 0 0 360px;

  scroll-snap-align: start;
}

/* mobile */
@media (max-width: 600px) {
  .grid > * {
    flex: 0 0 90%;
  }
}

.scrollHint {
  text-align: center;
  margin-top: 12px;

  font-size: 0.75rem;
  letter-spacing: 0.12em;

  color: var(--color-muted);

  display: flex;
  justify-content: right;
  align-items: center;
  gap: 6px;

  opacity: 0.7;
}

/* animated arrows */
.scrollHint span::before {
  content: "››";
  margin-right: 6px;

  color: var(--color-accent);

  animation: floatArrow 1.5s infinite ease-in-out;
}
@keyframes floatArrow {
  0% {
    transform: translateX(0);
    opacity: 0.4;
  }
  50% {
    transform: translateX(6px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0.4;
  }
}